<html>
<head>
<title>Library management system</title>
</head>
<style>
body {
  background-image: url('https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95d2d9f93.png');
}
table {
  background-color: #FF00FF;
  color: white;
  padding: 15px;
  border: 2;
  width: 100%
}
</style>

<table class="table">
	<tr>
	<th><a href="admin">home</a></th>
	<th><a href="aboutus">about</a></th>
	
</tr>
</table>

<table class="table">
  <tr>
  <th><a href="add_book">Add Book</a></th>
  <th><a href="list_book">book list</a></th>
</tr>
</table>
<br><br><br>
<i><b><p style="text-align:center;font-size:40px">Welcome to Book management system</b></p></i><br>
  

</h3>

</form>

</h3>
</form>
</body>
</html>