<html>
<head></head>
<style>
body {
  background-image: url('http://wallup.net/wp-content/uploads/2015/12/40105-gradient-simple_background-colorful-abstract.jpg');
}
</style>

<body class="body">
	<br><br><table cellspacing="20" cellpadding="5" bgcolor="#FFFFFF" width="500" border="3" align="center">
	<tr>
<th bgcolor="#FF00FF">Book Title name</th><th bgcolor="#FF00FF"><%= @book.title  %></th>
</tr>

<tr>
	<th bgcolor="#FF00FF">book author name</th><th bgcolor="#FF00FF"><%= @book.author %></th></tr>
<tr><th bgcolor="#FF00FF"> book price</th><th bgcolor="#FF00FF"><%= @book.price %></th></tr>

<tr>

<th bgcolor="#FFCC99"><button><%= link_to 'Back', {:action => 'list_book'} %></button></th></tr>
</table>
</body>
</html>	